.Button{
    background-color: #931F1D;
    padding: 16px 70px;
    color: white;
    
}
.Button.disabled{
    background-color: #AA9190;
    cursor: not-allowed; 
}

.text-center{
    text-align: center;
}

.spacebtn{
    margin-bottom: 20px;   
    margin-top: 74px;
}

.maringsott{
    margin-bottom: 0px;
    
}





@media screen and (min-width: 394px) {
    .Button {
        padding: 16px 158px;
        
    }

    .spacebtn{
        margin-bottom: 10px;   
        margin-top: 74px;
    }

    .maringsott{
        margin-bottom: 20px;
    
    }

    
    
  }

