.DropDown select{
    min-width: 250px;
    min-height: 55px;
    background-color: #937B63;
    
}

@media screen and (min-width: 394px) {
    .DropDown select{
        min-width: 550px;
        
    }
    
  }